<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crypto Miner | anikumar.net</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/images/logo.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="/css/app.css" rel="stylesheet" />
    </head>
    <body>
        <% dashboardTab = locals.dashboardTab || false; %>
        <% settingsTab = locals.settingsTab || false; %>
        <% cpus = locals.cpus || 0; %>
        
        <%- include('./partials/navbar.ejs') %>

        <div class="container-fluid px-5 mb-5"><br>
            <h1>Crypto Miner <sub class="lead text-info text-uppercase"><small><%= settingsTab? "settings": "dashboard"; %></small></sub></h1>
            <p class="text-secondary lead">Configure and Monitor XMRig miner.</p>
        </div>

        <% if (dashboardTab) { %>
            <%- include('./partials/dashboard.ejs'); %>
        <% } %>

        <% if (settingsTab) { %>
            <%- include('./partials/settings.ejs'); %>
        <% } %>

        

        <script type="text/javascript" src="/js/app.js" ></script>
        <script type="text/javascript">
            anikumar.start();
        </script>
    </body>
</html>